
@color-primary: #a91e11;
@color-backdrop: #e9e0cc;
@color-border: #b9ae8b;
@color-base: #452713;
@color-invert: #d6c5ac;
@color-gray: #8c8174;
@color-white: #fff;

@radius-base: 8rpx;
@radius-large: 12rpx;

@margin: 20rpx;


@fz-small: 24rpx;
@fz-base: 28rpx;
@fz-large: 32rpx;
@fz-bigger: 36rpx;
@fz-biggest: 40rpx;

@fontEN: -apple-system-font,"Helvetica Neue";
@fontCN: "PingFang SC","Hiragino Sans GB","Microsoft YaHei";
@fontSans: sans-serif;
@fontDefault: @fontEN, @fontCN, @fontSans;