@import 'src/common/styles/config.less';

@font-face {
    font-family: 'iconfont';
    /* project id 563803 */
    src: url('//at.alicdn.com/t/font_563803_p3wq6nj2tsr79zfr.eot');
    src: url('//at.alicdn.com/t/font_563803_p3wq6nj2tsr79zfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_563803_p3wq6nj2tsr79zfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_563803_p3wq6nj2tsr79zfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_563803_p3wq6nj2tsr79zfr.svg#iconfont') format('svg');
}

.icon {
    font-family: "iconfont" !important;
    font-style: normal;
    line-height: 1;
    font-size: @font-size-large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox:before {
    content: "\e720";
}

.icon-checkbox-cur:before {
    color: @color-success;
    content: "\e721";
}

.icon-close-fill:before {
    content: "\e724";
}

.icon-close:before {
    content: "\e725";
}

.icon-question:before {
    content: "\e72d";
}

.icon-radio:before {
    content: "\e72f";
}

.icon-radio-cur:before {
    color: @color-success;
    content: "\e730";
}

.icon-star-fill:before {
    content: "\e732";
}

.icon-star:before {
    content: "\e733";
}

.icon-feedback:before {
    content: "\e738";
}

.icon-share:before {
    content: "\e739";
}

.icon-shopcart:before {
    content: "\e73d";
}

.icon-scan:before {
    content: "\e749";
}

.icon-filter:before {
    content: "\e74a";
}

.icon-delete:before {
    content: "\e74b";
}

.icon-search:before {
    content: "\e752";
}

.icon-service:before {
    content: "\e75c";
}

.icon-msg:before {
    content: "\e763";
}

.icon-address:before {
    content: "\e769";
}

.icon-help:before {
    content: "\e78f";
}

.icon-location:before {
    content: "\e6d7";
}

.icon-edit:before {
    content: "\e641";
}

.icon-sort-up:before {
    content: "\e9a6";
}

.icon-sort-down:before {
    content: "\e9ca";
}

.icon-sort-null:before {
    content: "\e9cb";
}

.icon-arrow-down:before {
    content: "\e9d8";
}

.icon-arrow-left:before {
    content: "\e9d9";
}

.icon-arrow-right:before {
    content: "\e9da";
}

.icon-arrow-up:before {
    content: "\e9db";
}
